@inherits LayoutComponentBase

<!-- ES6 Module Imports -->
<script type="module">
    import { initializeApplication, setBlazorReference, initializeSignalRConnection, setCurrentTool, clearCanvasFromBlazor, disconnectFromBoard } from '/js/main.js';
    
    // Make functions available globally for Blazor interop
    window.initializeApplication = initializeApplication;
    window.setBlazorReference = setBlazorReference;
    window.initializeSignalRConnection = initializeSignalRConnection;
    window.setCurrentTool = setCurrentTool;
    window.clearCanvasFromBlazor = clearCanvasFromBlazor;
    window.disconnectFromBoard = disconnectFromBoard;
</script>

<div class="page">
    <main>
        @Body
    </main>
</div>