<div id="contextMenu" class="context-menu hidden">
    <div class="context-menu-item" onclick="undoAction()">
        <div class="context-item-content">
            <span class="context-icon">↶</span>
            Undo
        </div>
        <span class="context-hotkey">Ctrl+Z</span>
    </div>
    <div class="context-menu-item" onclick="redoAction()">
        <div class="context-item-content">
            <span class="context-icon">↷</span>
            Redo
        </div>
        <span class="context-hotkey">Ctrl+Shift+Z</span>
    </div>
    <div class="context-menu-divider"></div>
    
    <div class="context-menu-item" onclick="bringSelectedToFront()">
        <div class="context-item-content">
            <span class="context-icon">⬆️</span>
            Bring to Front
        </div>
    </div>
    <div class="context-menu-item" onclick="sendSelectedToBack()">
        <div class="context-item-content">
            <span class="context-icon">⬇️</span>
            Send to Back
        </div>
    </div>
    <div class="context-menu-divider"></div>
    
    <!-- Style options for shapes -->
    <div id="styleOptions" class="context-menu-section hidden">
        <div id="fillColorMenu" class="context-menu-item has-submenu">
            <div class="context-item-content">
                <span class="context-icon">🎨</span>
                Fill Color
            </div>
            <div class="submenu color-submenu">
                <div class="color-option color-transparent" onclick="updateShapeStyle('fillColor', 'transparent')" 
                     title="Transparent"></div>
                <div class="color-option color-white" onclick="updateShapeStyle('fillColor', '#ffffff')" 
                     title="White"></div>
                <div class="color-option color-black" onclick="updateShapeStyle('fillColor', '#000000')" 
                     title="Black"></div>
                <div class="color-option color-red" onclick="updateShapeStyle('fillColor', '#ff0000')" 
                     title="Red"></div>
                <div class="color-option color-green" onclick="updateShapeStyle('fillColor', '#00ff00')" 
                     title="Green"></div>
                <div class="color-option color-blue" onclick="updateShapeStyle('fillColor', '#0000ff')" 
                     title="Blue"></div>
                <div class="color-option color-yellow" onclick="updateShapeStyle('fillColor', '#ffff00')" 
                     title="Yellow"></div>
                <div class="color-option color-magenta" onclick="updateShapeStyle('fillColor', '#ff00ff')" 
                     title="Magenta"></div>
                <div class="color-option color-cyan" onclick="updateShapeStyle('fillColor', '#00ffff')" 
                     title="Cyan"></div>
                <div class="color-option color-orange" onclick="updateShapeStyle('fillColor', '#ffa500')" 
                     title="Orange"></div>
                <div class="color-option color-purple" onclick="updateShapeStyle('fillColor', '#800080')" 
                     title="Purple"></div>
                <div class="color-option color-pink" onclick="updateShapeStyle('fillColor', '#ffc0cb')" 
                     title="Pink"></div>
            </div>
        </div>
        
        <div id="strokeColorMenu" class="context-menu-item has-submenu">
            <div class="context-item-content">
                <span class="context-icon">🖊️</span>
                Stroke Color
            </div>
            <div class="submenu color-submenu">
                <div class="color-option color-black" onclick="updateShapeStyle('strokeColor', '#000000')" 
                     title="Black"></div>
                <div class="color-option color-white" onclick="updateShapeStyle('strokeColor', '#ffffff')" 
                     title="White"></div>
                <div class="color-option color-red" onclick="updateShapeStyle('strokeColor', '#ff0000')" 
                     title="Red"></div>
                <div class="color-option color-green" onclick="updateShapeStyle('strokeColor', '#00ff00')" 
                     title="Green"></div>
                <div class="color-option color-blue" onclick="updateShapeStyle('strokeColor', '#0000ff')" 
                     title="Blue"></div>
                <div class="color-option color-yellow" onclick="updateShapeStyle('strokeColor', '#ffff00')" 
                     title="Yellow"></div>
                <div class="color-option color-magenta" onclick="updateShapeStyle('strokeColor', '#ff00ff')" 
                     title="Magenta"></div>
                <div class="color-option color-cyan" onclick="updateShapeStyle('strokeColor', '#00ffff')" 
                     title="Cyan"></div>
                <div class="color-option color-orange" onclick="updateShapeStyle('strokeColor', '#ffa500')" 
                     title="Orange"></div>
                <div class="color-option color-purple" onclick="updateShapeStyle('strokeColor', '#800080')" 
                     title="Purple"></div>
                <div class="color-option color-pink" onclick="updateShapeStyle('strokeColor', '#ffc0cb')" 
                     title="Pink"></div>
            </div>
        </div>
        
        <div id="strokeWidthMenu" class="context-menu-item has-submenu">
            <div class="context-item-content">
                <span class="context-icon">📏</span>
                Stroke Width
            </div>
            <div class="submenu">
                <div class="context-menu-item" onclick="updateShapeStyle('strokeWidth', 1)">1px</div>
                <div class="context-menu-item" onclick="updateShapeStyle('strokeWidth', 2)">2px</div>
                <div class="context-menu-item" onclick="updateShapeStyle('strokeWidth', 3)">3px</div>
                <div class="context-menu-item" onclick="updateShapeStyle('strokeWidth', 5)">5px</div>
                <div class="context-menu-item" onclick="updateShapeStyle('strokeWidth', 8)">8px</div>
            </div>
        </div>
    </div>
    
    <div class="context-menu-divider"></div>
    
    <!-- Group operations -->
    <div id="groupSelected" class="context-menu-item hidden" onclick="groupSelected()">
        <div class="context-item-content">
            <span class="context-icon">🔗</span>
            Group Selected
        </div>
        <span class="context-hotkey">Ctrl+G</span>
    </div>
    <div id="ungroupSelected" class="context-menu-item hidden" onclick="ungroupSelected()">
        <div class="context-item-content">
            <span class="context-icon">🔓</span>
            Ungroup
        </div>
        <span class="context-hotkey">Ctrl+Shift+G</span>
    </div>
    <div id="selectGroup" class="context-menu-item hidden" onclick="selectGroup()">
        <div class="context-item-content">
            <span class="context-icon">🎯</span>
            Select Group
        </div>
    </div>
    <div id="groupDivider" class="context-menu-divider hidden"></div>
    
    <div class="context-menu-item" onclick="duplicateSelected()">
        <div class="context-item-content">
            <span class="context-icon">📋</span>
            Duplicate
        </div>
    </div>
    <div class="context-menu-item delete-item" onclick="deleteSelected()">
        <div class="context-item-content">
            <span class="context-icon">🗑️</span>
            Delete
        </div>
    </div>
</div>

@code {
    // This component is purely for HTML/CSS layout
    // JavaScript interactions are handled in the modular system via main.js
}